// base/_ico-variables.scss

$icomoon-font-family: "Icofont" !default;
$icomoon-font-path: "../fonts"; // Chemin relatif vers vos polices

$ico-dailymotion: unquote('"\\e938"');
$ico-tiktok: unquote('"\\e92a"');
$ico-schedule: unquote('"\\e90c"');
$ico-add: unquote('"\\e934"');
$ico-arrow_drop_down: unquote('"\\e918"');
$ico-arrow_drop_up: unquote('"\\e919"');
$ico-arrow_left: unquote('"\\e91b"');
$ico-arrow_right: unquote('"\\e91c"');
$ico-assignment: unquote('"\\e931"');
$ico-check: unquote('"\\e91d"');
$ico-close: unquote('"\\e935"');
$ico-copyright: unquote('"\\e91e"');
$ico-crop_square: unquote('"\\e937"');
$ico-directions: unquote('"\\e91f"');
$ico-email: unquote('"\\e920"');
$ico-error_outline: unquote('"\\e921"');
$ico-disk: unquote('"\\e904"');
$ico-file_downloadget_app: unquote('"\\e939"');
$ico-fullscreen: unquote('"\\e903"');
$ico-home: unquote('"\\e922"');
$ico-info_outline: unquote('"\\e923"');
$ico-keyboard_arrow_down: unquote('"\\e924"');
$ico-keyboard_arrow_left: unquote('"\\e925"');
$ico-keyboard_arrow_right: unquote('"\\e926"');
$ico-keyboard_arrow_up: unquote('"\\e927"');
$ico-label: unquote('"\\e90a"');
$ico-print: unquote('"\\e901"');
$ico-location: unquote('"\\e929"');
$ico-circle: unquote('"\\e912"');
$ico-phone: unquote('"\\e92b"');
$ico-redeemcard_giftcard: unquote('"\\e93a"');
$ico-remove: unquote('"\\e936"');
$ico-search: unquote('"\\e92d"');
$ico-share: unquote('"\\e92e"');
$ico-smartphone: unquote('"\\e92f"');
$ico-square: unquote('"\\e913"');
$ico-storefront: unquote('"\\e917"');
$ico-toc: unquote('"\\e930"');
$ico-verified_user: unquote('"\\e91a"');
$ico-warning: unquote('"\\e902"');
$ico-at: unquote('"\\e900"');
$ico-credit-card: unquote('"\\e914"');
$ico-edit: unquote('"\\e92c"');
$ico-file-pdf: unquote('"\\e916"');
$ico-shopping-cart: unquote('"\\e915"');
$ico-spinner: unquote('"\\e905"');
$ico-tag: unquote('"\\e906"');
$ico-tags: unquote('"\\e907"');
$ico-tools: unquote('"\\e932"');
$ico-facebook: unquote('"\\e908"');
$ico-github: unquote('"\\e909"');
$ico-instagram: unquote('"\\e90b"');
$ico-linkedin: unquote('"\\e90d"');
$ico-pinterest: unquote('"\\e90e"');
$ico-soundcloud: unquote('"\\e90f"');
$ico-tumblr: unquote('"\\e933"');
$ico-twitter: unquote('"\\e910"');
$ico-viadeo: unquote('"\\e911"');
$ico-youtube: unquote('"\\e928"');